@font-face {
  font-family: 'MavenPro-Regular'; /*a name to be used later*/
  src: url('../MavenPro-Regular.ttf'); /*URL to font*/
}

body{
  font-family: 'MavenPro-Regular'!important;
}

.site-header{
  background-color: #83d322;
  background-image: url("../images/bkg01.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

kbd {
  background-color: black;
  color: white;
  padding: 0.45rem;
  border-radius: 0px 0px 10px 10px;
}

.site-footer{
  /* background: linear-gradient(180deg, rgb(191, 191, 191), rgb(99, 99, 99)); */
  background-image: url("../images/bkg01.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: difference;
}


.site-title{
  display: inline-flex;
}

.site-title img{
  margin-right:1rem;
}

.img-round{
    border-radius:10%;
  }
  
  .img-w50{
    width:50%;
    height:auto;
  }

  .modal-container{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color: #21212180;
      display:none;    
  }
  
  .modal{
    position: relative;
    width: 90%;
    /* height: 100%; */
    top: 5%;
    left: 5%;
    display: flex;
    justify-content: center;
  }
  
  .close{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #212121bf;
    border-radius: 0 0px 0 15px;
    border: none;
    color: white;
    font-size: xxx-large;
    z-index: 1000;
    padding: 1rem;
  }

  .img-post{
    width: 100px;
    display: inline-block;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .img-thmb{
    display:inline-block;
    width:30%;
  }

  .modal .img-thmb{
    height:75vh;
    width:auto;
  }

@media screen and (max-width: 600px){
  .site-nav {
    right: -5px!important;
    background-color: rgba(252, 252, 252, 0)!important;
    border: 5px solid rgba(255, 255, 255, 0)!important;
    border-radius: 0%!important;
    top: 60%!important;}

  .trigger{
    background-color:#83d322;
    border-radius: 0px 0px 0px 10px;
  }
}

.post-link {
  display: flex!important;
}

.goog-te-combo{
  border-radius:10px;
}

.btn{
  border-radius:3px;
  border:0px solid white;
}

.btn-download{
  background-color:#83d322;
}