.site-title{
  display: inline-flex;
}

.site-title img{
  margin-right:1rem;
}

.img-round{
    border-radius:50%;
  }
  
  .img-w50{
    width:50%;
    height:auto;
  }

  .modal-container{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color: #21212180;
      display:none;    
  }
  
  .modal{
      position: absolute;
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
      display: flex;
      justify-content: center;
  }
  
  .close{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #212121bf;
    border-radius: 0 0px 0 15px;
    border: none;
    color: white;
    font-size: xxx-large;
    z-index: 1000;
    padding: 1rem;
  }

  .img-post{
    width: 100px;
    height: fit-content;
    display: inline-block;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .img-thmb{
    display:inline-block;
    width:30%;
  }

  .modal .img-thmb{
    height:100%;
    width:auto;
  }

@media screen and (max-width: 600px){
  .site-nav {
    top: 0px!important;
    right: 0px!important;
    background-color: #fdfdfd!important;
    border: 5px solid #ffffff!important;
    border-radius: 0 0 0 15px!important;
}
}

.post-link {
  display: flex!important;
}