<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/override.css">
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <div class="modal-container">
      <button type="button" class="close" onclick="closeModal();">x</button>
     <div class="modal">
     </div>
    </div>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
  </body>

</html>
